<div class="alert alert-info" markdown="0" style="margin-top: 3rem">
<h4>Security notes</h4>
<ul>
  <li>
    <strong>Over-the-air Updates:</strong>
    [[CalyxOS updates => system-updates]] are delivered over-the-air (OTA) automatically, without any manual intervention needed. However, if you'd like to manually update your CalyxOS install, see [[OTA => ota]].
  </li>
  <li>
    <strong>Security Updates:</strong>
    The <strong>Pixels 5a, 4a (5G), 5, 4a, 4 XL, 4, 3a XL, 3a, 3 XL, 3</strong> contain the full security patch, as they are still being updated by Google.
  </li>
  <li>
    <strong>End-of-life:</strong>
    The <strong>Pixels 2 and 2 XL</strong> are no longer being updated by Google, so the CalyxOS releases for these devices only contain the fixes to the open source components, such as the OS code and the Linux kernel. Proprietary components such as the bootloader, modem firmware, and other firmware no longer get updates.
  </li>
  <li>
    <strong>Xiaomi Mi A2:</strong> This device is still getting security updates, but those are Android 10 and usually released towards the end of the month, whereas CalyxOS is Android 11 and releases the updates right as they're available. This means that the A2 lags behind slightly, by a month or two, in getting security updates for proprietary components.
  </li>
</ul>
</div>